<nav aria-label="main navigation">
    <div>
        <div>
            <span>
                {{ config.get('general/sitename') }}
            </span>
            <span data-target="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbar-toggle">
            <div>
                {{ menu(template = 'partials/_sub_menu.twig') }}
            </div>
            <div>
                <form method="get" action="{{ path('search') }}" enctype="text/plain">
                    <label for="search">Search</label>
                    <input type="search" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search" id="search">
                    <button type="submit">{{ __('general.phrase.search') }}</button>
                </form>
            </div>
        </div>
    </div>
</nav>
