<p>
    {% if record.link() and (record.link != global.request.server.get('REQUEST_URI')) %}
    <a href="{{ record.link() }}">
        {{ __('general.phrase.read-more') }}
    </a>
    {% elseif record.contentlink %}
    <a href="{{ relative_path(record.contentlink|e) }}">
        {{ __('general.phrase.read-more') }}
    </a>
    {% endif %}
    {% if record.editlink() %}
        <span class="edit-link">
            <a href="{{ record.editlink() }}">
                {{ __('general.phrase.edit') }}
            </a>
        </span>
    {% endif %}
</p>
{% if extended|default() %}
<p>
    {{ __('general.phrase.written-by-on', {
        '%name%': record.user.displayname|default(__('Unknown')),
        '%date%': record.datepublish|localedatetime("%A %B %e, %Y")
    }) }}
</p>
{% endif %}
