{% if extended|default() %}

    {{ include('partials/_sub_taxonomylinks.twig', { record: record }) }}

    {% set previous = record.previous('id') %}
    {% set next = record.next('id') %}

    {% if previous or next %}
        <nav role="navigation" aria-label="pagination">
            {% if previous %}
                <a href="{{ previous.link }}">&laquo; {{ previous.title|excerpt(44) }}</a>
            {% endif %}
            {% if next %}
                <a href="{{ next.link }}">{{ next.title|excerpt(44) }} &raquo;</a>
            {% endif %}
        </nav>
    {% endif %}

    {% set relatedrecords = record.related() %}
    {% if relatedrecords is not empty %}
        <p>
            <h2>{{ __('general.phrase.related-content') }}</h2>
            <ul>
                {% for related in relatedrecords %}
                    <li><a href="{{ related.link }}">{{ related.title }}</a></li>
                {%  endfor %}
            </ul>
        </p>
    {% endif %}

{% endif %}
