{#
  See macros: http://twig.sensiolabs.org/doc/templates.html#macros
  See ternary operators: http://twig.sensiolabs.org/doc/templates.html#other-operators
#}

{% if withsubmenus is not defined %}
    {% set withsubmenus = true %}
{% endif %}

{% macro display_menu_item(item, loop, extraclass, withsubmenus) %}
    {% from _self import display_menu_item %}
    {% spaceless %}
    <p>
        <a
          href="{{ item.link }}"
          title='{{ item.title|default('')|escape }}'
          class='{{ item.class|default('') }}'>
            {{- item.label|default('-') -}}
        </a>
    </p>
    {% endspaceless %}
{% endmacro %}

{% from _self import display_menu_item %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop, '', withsubmenus) }}
    {% endif %}
{% endfor %}
