<div>
    {% for type, values in record|taxonomy %}
        <span>
            {% if values|length < 2 %}
                {{ config.get("taxonomy/#{type}/singular_name") }}:
            {% else %}
                {{ config.get("taxonomy/#{type}/name") }}:
            {% endif %}
        </span>
        {% for link, value in values %}
            <a href="{{ link }}">{{ value }}</a>
        {% else %}
            {{ __('general.phrase.none') }}
        {% endfor %}
    {% endfor %}
</div>
