{% block text_field %}
    <div {% if key is not empty %}data-bolt-field="{{ key }}"{% endif %}>
        {%- autoescape false -%}
            {# If 'allowtwig' is true for this field, we'll need to parse it as Twig here. #}
            {% if allowtwig|default(false) %}{{ include(template_from_string(value)) }}{% else %}{{ value }}{% endif -%}
        {%- endautoescape -%}
    </div>
{% endblock %}

{% block markdown_field %}
    <div {% if key is not empty %}data-bolt-field="{{ key }}"{% endif %}>
        {# If 'allowtwig' is true for this field, we'll need to parse it as Twig here. #}
        {% if allowtwig|default(false) %}{{ include(template_from_string(value))|markdown }}{% else %}{{ value|markdown }}{% endif -%}
    </div>
{% endblock %}

{% block imagelist_field %}
    <div>
        {% for image in value %}
            {{ popup(image.filename, 320, 240) }}
        {% endfor %}
    </div>
{% endblock %}

{% block common_fields %}

    {% if fieldtype in [ 'html', 'textarea', 'text' ] %}
        {{ block('text_field') }}
    {% elseif fieldtype == 'markdown' %}
        {{ block('markdown_field') }}
    {% elseif fieldtype == "image" and value.file|default is not empty %}
        {{ value|showimage(752, 400) }}
    {% elseif fieldtype == "video" and value.responsive|default is not empty %}
        <div class="flex-video {{ value.ratio|default(1) > 1.5 ? 'widescreen' }}">
            {{ value.responsive }}
        </div>
    {% endif %}

{% endblock %}

{% block extended_fields %}

    {% if fieldtype == "geolocation" and value.latitude|default is not empty %}
        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ value.latitude }},{{ value.longitude }}&amp;zoom=14&amp;size=617x300&amp;sensor=false&amp;markers={{ value.latitude }},{{ value.longitude }}">
    {% elseif fieldtype == "select" and value is not empty %}
        <p><strong>{{ record.contenttype.fields[key].label|default(key) }}: </strong>
        {{ value|join(", ") }}
        </p>
    {% elseif fieldtype == "checkbox" %}
        <p><strong>{{ record.contenttype.fields[key].label|default(key) }}: </strong>
        {{ value ? "checked" : "not checked" }}</p>
    {% elseif fieldtype == "imagelist" and value is not empty %}
        {{ block('imagelist_field') }}
    {% elseif fieldtype in [ 'filelist', 'datetime', 'date', 'integer', 'float' ] and value is not empty  %}
        <p><strong>{{ record.contenttype.fields[key].label|default(key) }}: </strong>
        {% if value is iterable %}
            {{ dump(value) }}
        {% else %}
            {{ value }}
        {% endif %}
        </p>
    {% endif %}

{% endblock %}
