{% extends 'layouts/master.twig' %}

{% block main %}

<section>
    <div>
        {% setcontent homepage = "homepage/1" %}
        {% if homepage %}
            <div class="content">
                <h2>{{ homepage.title }}</h2>
                <div class="teaser">
                    {{ homepage.teaser }}
                </div>
                {{ homepage.content }}

                {{ include('partials/_record_meta.twig', { record: homepage }) }}
            </div>
        {% endif %}
        {#
        {{ include('partials/_fresh_install.twig') }}
        {{ include('partials/_no_content.twig') }}
        #}
    </div>
    <div>
        {{ include('partials/_aside.twig') }}
    </div>
</section>

{% endblock main %}
