{% extends 'layouts/master.twig' %}

{% block main %}

<section>
    <div>
        {# --- REMOVE --- #}
        {% if user %}
            <div>
                <ul>
                    <li>Check the <a href='https://github.com/xiaohutai/bolt-theme-starter/blob/master/README.md'>readme.md</a> for instructions on how to customize this theme.</li>
                    {% if isallowed('prefill') %}
                        <li>{{ __("page.dashboard.quickstart", {'%url%': path('prefill', {'force': 1})}) }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        {# --- /REMOVE --- #}

        {% setcontent homepage = "homepage/1" %}
        {% if homepage %}
            <div>
                <h2>{{ homepage.title }}</h2>
                <div>
                    {{ homepage.teaser }}
                </div>
                {{ homepage.content }}
                {{ include('partials/_record_meta.twig', { record: homepage }) }}
            </div>
        {% endif %}
    </div>
    <div>
        {{ include('partials/_aside.twig') }}
    </div>
</section>

{% endblock main %}
