{% extends 'layouts/master.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block main %}

<section>
    <div>
        <div>
            {% if record %}
                <h1>{{ record.title|default('404 Page Not Found') }}</h1>
                {{ record.content|default('<p>The requested page was not found.</p>')|raw }}
            {% else %}
                <h1>404 Page Not Found</h1>
                <p>The requested page was not found.</p>
            {% endif %}
        </div>
        <form method="get" action="{{ path('search') }}" enctype="text/plain">
            <label for="search">Search</label>
            <input type="search" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search" id="search">
            <button type="submit">{{ __('general.phrase.search') }}</button>
        </form>
    </div>
</section>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
{% endblock main %}
