{% extends 'layouts/master.twig' %}

{% block main %}

<section>
    <div>
        <div>
            <div>
                <article>
                    <h1>{{ record.title }}</h1>

                    {{ include('partials/_record_meta.twig', { extended: true }) }}

                    {{ record.teaser }}

                    {% if record.image is not empty %}
                        <figure>
                            <img src="{{ record.image|image(640, 360, "r") }}" alt="{{ record.values.image.alt|default() }}" />
                            <figcaption>
                                {{ record.values.image.title|default() }}
                            </figcaption>
                        </figure>
                    {% endif %}

                    {{ record.body }}

                    {% with { record: record, common: false, repeaters: true, blocks: true, exclude: [ 'teaser', 'body', 'image' ] } %}
                        {{ block('sub_fields', 'partials/_sub_fields.twig') }}
                    {% endwith %}

                    {{ include('partials/_recordfooter.twig', {
                        record: record,
                        extended: true
                    }) }}
                </article>
            </div>
            <div>
                {{ include('partials/_aside.twig') }}
            </div>
        </div>
    </div>
</section>

{% endblock main %}
