{% extends 'layouts/record.twig' %}

{% block main %}

<section>
    <div>
        {% if record.image is not empty %}
            <figure>
                <img src="{{ record.image|image(1280, 660) }}" alt="{{ record.values.image.alt|default() }}" />
                <figcaption>
                    {{ record.values.image.title|default() }}
                </figcaption>
            </figure>
        {% endif %}

        <article>
            <h1>{{ record.title }}</h1>

            {{ include('partials/_record_meta.twig', { extended: true }) }}

            {% with { 'record': record, 'extended': true, 'repeaters': true, 'blocks': true } %}
                {{ block('sub_fields', 'partials/_sub_fields.twig') }}
            {% endwith %}

            {{ include('partials/_recordfooter.twig', {
                record: record,
                extended: true
            }) }}
        </article>
    </div>
</section>

{% endblock main %}
