{% extends 'layouts/master.twig' %}

{% block main %}
<section>
    <div>
        <h1>
            {% if search is not empty %}
                {{ __('general.phrase.search-results-for-variable', { '%search%': search }) }}
            {% else %}
                {{ __('general.phrase.search') }}
            {% endif %}
        </h1>
        <form action="{{ path('search') }}">
            <label class="label is-hidden" for="search">Search</label>
            <input class="input" type="search" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search" id="search">
            <button type="submit">{{ __('general.phrase.search') }}</button>
        </form>
    </div>
</section>

<section>
    <div>

        {% for record in records %}
            <article role="article" class="media columns">
                <div class="media-content column is-7">
                    <div class="content">
                        <h2 class="title"><a href="{{ record.link }}">{{ record.title }}</a></h2>

                        <p class="meta is-hidden-touch">
                            {% if record.editlink() %}
                                <span class="edit-link"><a href="{{ record.editlink() }}"><strong>Edit</strong></a></span> &bullet;
                            {% endif %}
                            <a href="{{ record.link() }}">{{ __('general.phrase.permalink') }}</a> &bullet;
                            {{ __('general.phrase.written-by-on', {
                                '%name%': record.user.displayname|default(__('Unknown')),
                                '%date%': record.datepublish|localedatetime("%A %B %e, %Y")
                            }) }}
                        </p>

                        {# display something introduction-like.. #}
                        <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                    </div>
                </div>
                {% if record.image is not empty %}
                <div class="media-right column">
                    <figure class="image">
                        <img src="{{ record.image|image(480, 320, "r") }}" alt="{{ record.values.image.alt|default() }}" />
                    </figure>
                </div>
                {% endif %}
            </article>

        {% else %}

            <article role="article" class="media">
                <div class="media-content">
                    <div class="content">
                        <p>{{ __('general.phrase.no-result-for-search-term', { '%SEARCHTERM%': search|escape }) }}</p>
                    </div>
                </div>
            </article>

        {% endfor %}

        {{ pager(template = 'partials/_sub_pager.twig') }}

    </div>
</section>
{% endblock main %}
